<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dicoding:email" content="dimasaswito@gmail.com">
    <link rel="icon" type="image/x-icon" href="../asset/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <title>Wisata</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../website_ketapanrame/"><img src="../../website_ketapanrame/asset/logo.png" alt="Logo" width="" height="45"                        class="d-inline-block align-top"></a>
                <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="../">Beranda</a></li>
                        <li class="nav-item"><a class="nav-link" href="../view/wisata.html">Wisata</a></li>
                        <li class="nav-item"><a class="nav-link" href="../view/penginapan.html">Penginapan</a></li>
                        <li class="nav-item"><a class="nav-link" href="../view/TempatMakan.html">Tempat Makan</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- ====================== Navbar Kelar ============================ -->
    <div class="container my-5">
        <div class="row">
            <h1 class="headview text-center mb-5">Wisata Terbaru</h1>
            <div class="col-md-4">
                <div class="card wisata-card shadow">
                    <img src="../asset/wisata/ganjaran.JPG" class="card-img-top wisata-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Taman Ganjaran</h5>
                        <p class="card-text">Sebuah tempat yang berada di alam yang memiliki kolam renang dengan suasana
                            yang sejuk.</p>
                        <!--<a href="#" class="tblview btn btn-lg btn-primary mb-3" data-toggle="modal"-->
                            <!--data-target="#modalGanjaran">Jelajahi</a>-->
                    </div>
                </div>
            </div>

            <!-- Modal for Taman Ganjaran -->
            <div class="modal modal-sheet position-static d-none bg-secondary py-5" tabindex="-1" role="dialog"
                id="modalGanjaran">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-6 shadow">
                        <div class="modal-header border-bottom-0">
                            <img src="../asset/wisata/ganjaran.JPG" alt="Modal Image" class="img-fluid">
                            <h5 class="modal-title">Taman Ganjaran</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body py-0">
                            <p>Details about Taman Ganjaran go here.</p>
                        </div>
                        <div class="modal-footer flex-column border-top-0">
                            <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card wisata-card shadow">
                    <img src="../asset/wisata/sumbergempong.jpg" class="card-img-top wisata-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Sumber Gempong</h5>
                        <p class="card-text">Tempat yang cocok untuk melakukan kegiatan outdor bersama keluarga maupun
                            teman terdekat.</p>
                        <!--<a href="#" class="tblview btn btn-lg btn-primary mb-3">jelajahi</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card wisata-card shadow">
                    <img src="../asset/wisata/vanda-waterworld.jpg" class="card-img-top wisata-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Vanda Waterworld</h5>
                        <p class="card-text">Lokasi yang berada di tengah hutan menjadikan suasana yang cocok untuk
                            mendirikan tenda dan membuat api unggun.</p>
                        <!--<a href="#" class="tblview btn btn-lg btn-primary mb-3">jelajahi</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card wisata-card shadow">
                    <img src="../asset/wisata/dlundung.jpeg" class="card-img-top wisata-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Air Terjun Dlundung</h5>
                        <p class="card-text">Sebuah tempat yang berada di alam yang memiliki kolam renang dengan suasana
                            yang sejuk.</p>
                        <!--<a href="#" class="tblview btn btn-lg btn-primary mb-3">Jelajahi</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card wisata-card shadow">
                    <img src="../asset/wisata/sobo-reco.jpg" class="card-img-top wisata-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Sobo Reco</h5>
                        <p class="card-text">Tempat yang cocok untuk melakukan kegiatan outdor bersama keluarga maupun
                            teman terdekat.</p>
                        <!--<a href="#" class="tblview btn btn-lg btn-primary mb-3">jelajahi</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card wisata-card shadow">
                    <img src="../asset/wisata/sobo-komplangan.png" class="card-img-top wisata-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Sobo Komplangan</h5>
                        <p class="card-text">Lokasi yang berada di tengah hutan menjadikan suasana yang cocok untuk
                            mendirikan tenda dan membuat api unggun.</p>
                        <!--<a href="#" class="tblview btn btn-lg btn-primary mb-3">jelajahi</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card wisata-card shadow">
                    <img src="../asset/wisata/sobo-banggul.png" class="card-img-top wisata-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Sobo Banggul</h5>
                        <p class="card-text">Sebuah tempat yang berada di alam yang memiliki kolam renang dengan suasana
                            yang sejuk.</p>
                        <!--<a href="#" class="tblview btn btn-lg btn-primary mb-3">Jelajahi</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ====================== Item Kelar ============================ -->

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 text-muted">&copy; 2024 Dimas Aswito</p>
        <a href="../../website_ketapanrame/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-auto me-md-auto">
            <img src="../asset/logo.png" alt="" width="" height="45">
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="https://www.instagram.com/sobo.ketapanrame?igsh=YWJjaWNpZGYyYXE0"
                    class="nav-link px-3 text-muted"><i class="bi bi-instagram fs-5"></i></a></li>
            <li class="nav-item"><a href="https://youtube.com/@soboketapanrame398?si=-BGl3jfxJMg4owrj"
                    class="nav-link px-3 text-muted"><i class="bi bi-youtube fs-5"></i></a></li>
            <li class="nav-item"><a href="https://www.tiktok.com/@sobo.ketapanrame?_t=8kaugJx6daU&_r=1"
                    class="nav-link px-3 text-muted"><i class="bi bi-tiktok fs-5"></i></a></li>
            <li class="nav-item"><a href="https://www.facebook.com/Desawisataketapanrame/"
                    class="nav-link px-3 text-muted"><i class="bi bi-facebook fs-5"></i></a></li>
        </ul>
    </footer>
    <!-- ====================== Footer Kelar ============================ -->
</body>
<script src="js/bootstrap.bundle.min.js"></script>

</html>